p{
    background-color: rgb(32, 180, 175);
}

a{
    background-color: rgb(206, 119, 235);
}
div{
    background-color: rgb(230, 109, 28);
}
span{
    background-color: rgb(244, 63, 132);
}
.second{
    background-color: rgb(192, 247, 83);
}
.details{
    background-color: rgb(230, 109, 28);
}